<html>
    <body>
        <h1>热量计算</h1>
        <form method="post">
        input your sex(F/M):<br/>
        <input type="text" name="sex"><br/>
        input your weight(kg):<br/>
        <input type="text" name="weight"><br/>
        input your height(cm):<br/>
        <input type="text" name="height"><br/>
        input your age(year):<br/>
        <input type="text" name="age"><br/>
        <br/>
            the 1th food you eat
            <input type="text" name="food1">
            weight:(g)
            <input type="text" name="food1_weight">
            <br/>
            the 2th food you eat
            <input type="text" name="food2">
            weight:(g)
            <input type="text" name="food2_weight">
            <br/>
            the 3th food you eat
            <input type="text" name="food3">
            weight:(g)
            <input type="text" name="food3_weight">
            <br/>
            the 4th food you eat
            <input type="text" name="food4">
            weight:(g)
            <input type="text" name="food4_weight">
            <br/>
            the 5th food you eat
            <input type="text" name="food5">
            weight:(g)
            <input type="text" name="food5_weight">
            <br/>
            the 6th food you eat
            <input type="text" name="food6">
            weight:(g)
            <input type="text" name="food6_weight">
            <br/>
            the 7th food you eat
            <input type="text" name="food7">
            weight:(g)
            <input type="text" name="food7_weight">
            <br/>
            the 8th food you eat
            <input type="text" name="food8">
            weight:(g)
            <input type="text" name="food8_weight">
            <br/>
            the 9th food you eat
            <input type="text" name="food9">
            weight:(g)
            <input type="text" name="food9_weight">
            <br/>
            the 10th food you eat
            <input type="text" name="food10">
            weight:(g)
            <input type="text" name="food10_weight">
            <br/>
            the 11th food you eat
            <input type="text" name="food11">
            weight:(g)
            <input type="text" name="food11_weight">
            <br/>
            <br/>
        <input type="submit" value="submit">


        </form>
    </body>
</html>